{% extends 'base.html' %}

{% block title %}Список фильмов{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Список фильмов</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Отзыв</th>
            </tr>
        </thead>
        <tbody>
            {% for film in films %}
            <tr>
                <td>{{ film.title }}</td>
                <td>{{ film.description }}</td>
                <td>{{ film.review }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
